{% extends 'mediaid/base2.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div style="padding-top:120px;">
<div class="container">
 <div class="row my-3" >
  <div class="col-sm-6 offset-sm-3" style="margin-top:-100px;">
   <h3>Change Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% if messages %}
         {% for message in messages %}
               <p {% if message.tags %}class="alert alert-{{message.tags}} mb-5"{% endif %}>{{message}}</p>
         {% endfor %}
        {% endif %}
    {% csrf_token %}
     {% for fm in form %}
     <div class="form-group">
     {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
     </div>
     {% endfor %}
    <input type="submit" style="display: inline-block;padding: 8px 30px;background-color: #4A8693;
    color:black;border-radius: 45px;-webkit-transition: all 0.3s;transition: all 0.3s;border: none;" value="Save">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
</div>
{% endblock main-content %}