{% extends 'mediaid/base2.html' %}
{% load static %}
{% block title %}Delete Doctor{% endblock title %}
{% block main-content %}
<div class="container my-5" style="padding-top:100px;">
 <div class="row">
  <div class="col-sm-2 border-end">
    </div>
    <div class="col=sm-9 offset=sm-1 text-center" style="margin-top:100px">
        <h3>Are you sure? You want to delete your patient's profile?</h3><br><br>
        <form action="{% url 'del_patient' pat.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger shadow px-5 py-2 ms-4" value="Delete">
        </form>
        <a href="{% url 'patprofile' %}" class="btn btn-info shadow px-5 py-2 ms-4">Cancel</a>
  </div>
 </div>
</div>
</div>
{% endblock main-content %}