{% extends 'mediaid/base4.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<div style="padding-top:-120px;">
    <div class="container" style="color:black;">
        <div class="row my-3">
        <div class="col-sm-6 offset-sm-3" style="margin-top:-150px; text-align:center; margin-bottom:250px"> 
                <h2 class="alert-heading">Welcome</h2>
                <h3>An email is sent to you to reset password. <b>Check Email</b></h3>
        </div>
        </div>
    </div>
</div>
{% endblock main-content %}