{% extends 'mediaid/base4.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3" style="padding-top:60px;">
     <div class="col-sm-6 offset-sm-3">
      <div class="form-box" style="  border: 2px solid black;border-radius: 15px;padding: 10px; margin-top:-450px">
           <div class="header-text" style="color: black; font-family:'Dancing Script', cursive; font-weight:bold; font-size:35px; text-align:center;">
               Password Reset Form
           </div>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5" style="color: black; font-family:'Copperplate'; font-size:30px">
    {% csrf_token %}
     {% for fm in form %}
     <div class="form-group">
     {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
     </div>
     {% endfor %}    
    <input type="submit" style="display: inline-block;padding: 8px 30px;background-color: #4A8693;
    color:black;border-radius: 45px;-webkit-transition: all 0.3s;transition: all 0.3s;border: none;" value="Submit"> <br>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
</div>
{% endblock main-content %}