{% extends 'mediaid/base2.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block main-content %}
<div class="container my-5" style="padding-top:120px;">
 <div class="row">
     <h3>Welcome <span class="text-capitalize">{{request.user.username}}</span></h3>
  <div class="col-sm-2 border-end">
      {% comment %} <ul class="list-unstyled">
          <li class="d-grid"><a href="#" class="btn btn-info">Change Password Done</a></li>
      </ul> {% endcomment %}
    </div>
    <div class="col=sm-9 offset=sm-1 text-center" style="margin-top:-170px">
        <h3>Password Changed Successfully</h3>
        <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width='200' height='200' frameBorder='0'
            class 'giphy-embed' allowFullScreen></iframe>
        </div>
  </div>
 </div>
</div>
{% endblock main-content %}