{% extends 'mediaid/base2.html' %}
{% load static %}
{% block title %}List{% endblock title %}
{% block main-content %}
<div class="wrapper" style="padding-top:0px">
	<div class="header">Search results for Patient</div>
	{% if garages %}
	<div class="cards_wrap">
		{% for garages in garages %}
		<div class="card_item">
			<div class="card_inner">
				<img src="{{garages.upload.url}}">
				<div class="role_name" style="font-weight:800;font-size: 15px;">Garage Id : {{garages.garage_id}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Owner Id : {{garages.garage_owner_id}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Address : {{garages.address}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Area : {{garages.area}}</div>
				{% if garages.available == "1" %}
				<div class="role_name" style="font-weight:800;font-size: 15px;">Availability : Available</div>
				{% else %}
				<div class="role_name" style="font-weight:800;font-size: 15px;">Availability : Not Available</div>
				{% endif %}
				<div class="role_name" style="font-weight:800;font-size: 15px;">Hourly Price : {{garages.hourlyprice}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Daily Price : {{garages.dailyprice}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Monthly Price : {{garages.monthlyprice}}</div>
				<div class="film" style="font-size: 15px;">Description : {{garages.description}} </div>
			</div>
            <a class="btn" style="color:#4A8693;width:100%; background-color:black; font-size:18px; border-radius:25px; 
			margin-top:5px" type="submit" href="{% url 'rent' garages.garage_id %}">Rent</a>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<h4 class="text-center alert alert-danger"> No Patient Found</h4>
	{% endif %}
</div>  
</div>

{% endblock main-content %}